/* Set up color variables */
:root {
    --primary-color: #007bff;
    --secondary-color: #f5f5f5;
    --text-color: #333;
    --background-color: #f5f5f5;
    --table-border-color: #ddd;
    --table-header-background-color: #f5f5f5;
    --ui-table-header-background-color: #ccc;
    --button-background-color: var(--primary-color);
    --button-color: #fff;
    --button-hover-background-color: #0069d9;
    --output-background-color: black;
    --output-color: white;
    --stderr-color: yellow;
    --status-icon-size: 30px;
    --status-icon-border: 5px;
}

/* Set up dark mode colors */
@media (prefers-color-scheme: dark) {
    :root {
        --primary-color: #0d6efd;
        --secondary-color: #1c1c1c;
        --text-color: #fff;
        --background-color: #1c1c1c;
        --table-border-color: #555;
        --table-header-background-color: #444;
        --ui-table-header-background-color: #333;
        --button-background-color: #0d6efd;
        --button-color: #fff;
        --button-hover-background-color: #005fcc;
        --output-background-color: #222;
        --output-color: #fff;
    }
}

/* Media queries for mobile devices */
@media only screen and (max-width: 1080px) {
    body {
        width: auto !important;
    }

    th, td {
        padding: 0.25rem;
    }

    .ui-sidebar {
        visibility: hidden;
    }

    .ui-content {
        margin-left: 0;
    }

    #output {
        width: 100%;
        height: 300px;
    }
}

* {
    transition: all 0.4s;
}


/* Global styles */
html, body, #main {
    height: 100%;
}

html {
    z-index: -50;

    --s: 80px; /* control the size */
    --c1: #1d1d1d;
    --c2: #4e4f51;
    --c3: #3c3c3c;
    background: repeating-conic-gradient(from 30deg, #0000 0 120deg, var(--c3) 0 180deg) calc(.5 * var(--s)) calc(.5 * var(--s) * 0.577),
    repeating-conic-gradient(from 30deg, var(--c1) 0 60deg, var(--c2) 0 120deg, var(--c3) 0 180deg);
    background-size: var(--s) calc(var(--s) * 0.577);
}

body {
    z-index: 0;
    width: 80%;
    height: max-content;

    margin: 0 auto;
    padding-left: 1.7%;
    padding-right: 1.7%;

    color: var(--text-color);
    font-family: 'Fira Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}


/* UI components */
.ui-content {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 13px 50px 2rem 50px;

    background-color: var(--background-color);
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 30px 30px;
}

.ui-menubar {
    width: auto;
    margin: 1.2rem 0 1.8rem 0;
    padding: 1.0rem 1.3rem;

    background-color: var(--primary-color);
    border-radius: 1.4rem;

    color: #eee;
    font-size: 1.8rem;
}

.ui-logout {
    float: right;
    right: 1.5rem;
    height: max-content;
    background: var(--table-header-background-color);
    border-radius: 10px;
    padding: 0.1rem 0.5rem;
    font-size: small;
}

.ui-sidebar {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 20%;
    height: 100%;
    border-right: 2px solid black;
    background-color: var(--secondary-color);
    padding: 1rem;
}

.ui-table-child {
    display: none;
}

.ui-button:not(.simple), button:not(.simple), input[type=button], input[type=submit] {
    width: 100%;
    height: auto;
    padding: 0.3rem;

    background-color: var(--button-background-color);
    border-radius: 0.25rem;
    border: 1px solid darkblue;

    color: var(--button-color);
    font-size: 1.1rem;

    cursor: pointer;
}

.ui-button:not(.simple):hover, button:not(.simple):hover, input[type=button]:hover, input[type=submit]:hover {
    background-color: var(--button-hover-background-color);
}


/* utility components */
.null-text {
    font-style: italic;
}

.error-text::before {
    content: "!";
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    width: 21px;
    height: 21px;
    background-color: red;
    color: #fff;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    font-weight: bold;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.error-text {
    display: flex;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    padding: 10px;
    padding-left: 15px;
    border-radius: 5px;
    background-color: #801616;
    border: 3px solid black;
    box-shadow: rgba(0, 0, 0, 0.3) 5px 6px 5px;
    align-items: center;
    justify-content: center;
}

input {
    padding: 0 5px;
    width: 100%;
    height: 100%;
}

input[readonly] {
    color: inherit;
    background: inherit;
    border: none;
}


/* general style settings */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Fira Mono', monospace;
    margin-bottom: 0.6rem;
}

h1, h2 {
    text-decoration: underline 0.05rem;
}

h3, h4, h5, h6 {
    text-decoration: underline 0.02rem;
}

a {
    color: var(--text-color);
    text-decoration: underline dotted 0.07rem;
}

a:visited {
    color: var(--text-color);
}

a:hover {
    text-decoration: underline 0.07rem;
}

a.ui-button, a.clean-link {
    text-decoration: none !important;
}

.onequarter {
    width: 25%;
}


/* table configuration */
tr {
    background-color: var(--ui-table-header-background-color);
}

tr.ui-table-parent:hover {
    cursor: pointer;
}

tr.ui-table-parent:hover {
    background-color: var(--table-header-background-color);
}

table {
    width: 100%;
    margin-bottom: 1rem;
    border: 1.3px inset grey;
}

th, td {
    padding: 0.5rem;
    text-align: left;
}

td {
    border: 1px solid black;
}

th {
    background-color: var(--table-header-background-color);
    font-weight: bold;
}

tr.serverEntry:hover {
    background-color: var(--secondary-color);
}

td .state-switch {
    width: 50px;
}


/* module tables */
.module-state-switch-col {
    width: 40px;
    height: 40px;
}

.module-name-col {
    width: 20%;
}

.module-desc-col {
    width: auto;
}

.module-ctrl-col {
    width: 50px;
}

.module-prop-name-col, .module-prop-value-col {
    width: 50%;
    height: 0;
    padding: 0;
}


/* dialog window */
#dialog-module-add {
    display: none;

    .icon-close {
        position: absolute;

        top: 7px;
        right: 0;
        z-index: 75;

        width: 50px;
        height: 50px;

        border-radius: 15px;
    }

    .ui-dialog {
        #btn-module-add-submit {
            position: absolute;
            bottom: 1.1rem;
            left: 50%;

            width: 95%;
            border-radius: 15px;

            transform: translateX(-50%);
        }

        #module-selector {
            position: absolute;
            left: 50%;
            top: 10%;

            height: 60%;
            width: 40%;

            transform: translateX(-50%);
        }
    }
}

.ui-blur {
    display: flex;
    position: fixed;

    transform: translate(-50%, -50%) scale(200%);
    top: 50%;
    left: 50%;
    z-index: 25;

    width: 100%;
    height: 100%;

    background-color: rgba(1, 1, 1, 0.3);
    backdrop-filter: blur(3px);
}

.ui-blur .ui-dialog {
    display: table;
    position: fixed;

    transform: translate(-50%, -50%) scale(50%);
    top: 50%;
    left: 50%;
    z-index: 50;

    width: 60%;
    height: 40%;

    color: black;
    text-align: center;
    align-items: center;
    justify-content: center;

    border-radius: 20px;
    border: 3.8px solid #777;
    background: #AAA; /* linear-gradient(304deg, rgba(228, 228, 228, 1) 14%, rgba(126, 126, 126, 1) 41%, rgba(94, 94, 94, 1) 61%, rgba(172, 172, 172, 1) 85%, rgba(208, 208, 208, 1) 100%);*/
    backdrop-filter: blur(3px);
}







/* icons */
/* Refresh icon */
.icon-refresh {
    margin: auto;
    width: var(--status-icon-size);
    height: var(--status-icon-size);
    border-radius: 50%;
    border: 2px solid #3498db; /* blue border */
    position: relative;
}

.icon-refresh:hover {
    transform: rotate(360deg);
    cursor: pointer;
}

.icon-refresh::before {
    content: "";
    position: absolute;

    height: 50%;
    width: 50%;

    border-radius: 100%;
    border-color: #3498db; /* blue border */
    border-style: solid;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-right-style: none;

    transform: translate(38%, 28%) rotate(45deg)
}

.icon-refresh::after {
    content: "";
    position: absolute;

    /*background-color: yellow;*/
    height: 15%;
    width: 15%;

    border-color: #3498db; /* blue border */
    border-style: solid;
    border-top-style: none;
    border-left-style: none;
    border-bottom-width: 2px;
    border-right-width: 2px;

    transform: translate(309%, 170%) rotate(45deg);
}


/* Loading Icon */
.icon-loading {
    margin: auto;
    width: var(--status-icon-size);
    height: var(--status-icon-size);
    border-radius: 50%;
    border: 2px solid #3498db; /* blue border */
    position: relative;
}

.icon-loading::before,
.icon-loading::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(var(--status-icon-size) * 0.6);
    height: calc(var(--status-icon-size) * 0.6);
    border: 2px solid #3498db; /* blue color */
    border-radius: 50%;
    border-top: none;
    border-right: none;
    animation: spin 2s linear infinite;
}

.icon-loading::after {
    transform: translate(-50%, -50%) rotate(180deg);
}

/* Checkmark Icon */
.icon-online {
    margin: auto;
    width: var(--status-icon-size);
    height: var(--status-icon-size);
    border-radius: 50%;
    border: 2px solid green;
    position: relative;
}

.icon-online::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%) rotate(45deg);
    width: calc(var(--status-icon-size) * 0.2);
    height: calc(var(--status-icon-size) * 0.45);
    border-bottom: 2px solid green;
    border-right: 2px solid green;
}

/* maintenance icon */
.icon-maintenance {
    margin: auto;
    width: var(--status-icon-size);
    height: var(--status-icon-size);
    border-radius: 50%;
    border: 2px solid #e67e22; /* orange border */
    position: relative;
}

.icon-maintenance::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: calc(var(--status-icon-size) * 0.8);
    height: 2px;
    background-color: #e67e22; /* orange color */
}

/* Warning icon */
.icon-warning {
    margin: auto;
    width: var(--status-icon-size);
    height: var(--status-icon-size);
    border-radius: 50%;
    border: 2px solid #f39c12; /* yellow border */
    position: relative;
}

.icon-warning::before {
    content: "!";
    font-size: 1.2em;
    font-weight: bold;
    color: #f39c12; /* yellow color */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon-offline {
    margin: auto;
    width: var(--status-icon-size);
    height: var(--status-icon-size);
    border-radius: 50%;
    border: 2px solid red;
    position: relative;
}

.icon-offline::before,
.icon-offline::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: calc(var(--status-icon-size) * 0.6);
    height: 2px;
    background-color: red;
}

.icon-offline::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.icon-offline::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}


/* animations */
@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    /* start position */
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
    /* end position */
}






/* old stuff */

#output {
    width: 90%;
    height: 600px;
    background: black;
    color: white;
    font-family: 'Fira Mono', monospaced, sans-serif;
    font-size: 13px;
    padding: 10px;
    overflow-y: scroll;
}

.stderr {
    color: var(--stderr-color);
}