<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/layout/head}"></head>
<script th:src="@{/static/dashboard.js}" type="text/javascript"></script>
<body>
<div class="ui-menubar" th:insert="~{/layout/menubar}"></div>
<h3>Hello <b th:text="${user.getBestName()}"></b></h3>
<div class="ui-container-page">
    <div class="ui-content">
        <div id="serverlist">
            <h2>Servers</h2>
            <table>
                <thead>
                <tr>
                    <th>
                        <div class="simple ui-button icon-refresh" onclick="refreshServerList()"></div>
                    </th>
                    <th><a class="ui-button" th:href="@{/server/create}">Create</a></th>
                    <th>Owner</th>
                    <th>MOTD</th>
                    <th>Players</th>
                    <th>Host</th>
                    <th>:</th>
                    <th>Port</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr class="serverEntry" th:each="entry: ${serverRepo.entrySet()}"
                    th:id="${server.id}"
                    th:with="server = ${entry.key}, tree = ${entry.value}">
                    <td>
                        <div class="statusIcon icon-loading"></div>
                    </td>
                    <td><a class="ui-button" th:href="@{'/server/view/'+${server.id}}">View</a>
                        <a class="ui-button"
                           th:href="@{'/server/console/'+${server.id}}"
                           th:if="${tree.component(T(org.comroid.mcsd.core.module.console.ConsoleModule)).isNonNull()}">Console</a>
                        <a class="ui-button"
                           th:href="@{'/server/modules/'+${server.id}}"
                           th:if="${server.hasPermission(user, T(org.comroid.mcsd.core.entity.AbstractEntity$Permission).ManageModules)}">Modules</a></td>
                    <td><a th:href="@{'/user/view/'+${server.owner.id}}" th:text="${server.owner.bestName}"></a></td>
                    <td>
                        <div class="motd">Loading MOTD ...</div>
                    </td>
                    <td>
                        <div class="players">Fetching Players ...</div>
                    </td>
                    <td th:text="${server.host}">Host</td>
                    <td>:</td>
                    <td th:text="${server.port}">Port</td>
                    <td>
                        <a class="ui-button" th:href="@{'/server/edit/'+${server.id}}">Edit</a>
                        <a class="ui-button" th:href="@{'/server/delete/'+${server.id}}">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="agentlist" th:if="${not agentRepo.isEmpty()}">
            <h2>Agents</h2>
            <table>
                <thead>
                <tr>
                    <!--<th><div class="simple ui-button icon-refresh" onclick="refreshServerList()"></div></th>-->
                    <th><a class="ui-button" th:href="@{/agent/create}">Create</a></th>
                    <th>Name</th>
                    <th>Owner</th>
                    <th>URL</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="agent: ${agentRepo}" th:id="${agent.id}">
                    <!--<td><div class="statusIcon icon-loading"></div></td>-->
                    <td><a class="ui-button" th:href="@{'/agent/view/'+${agent.id}}">View</a></td>
                    <td th:text="${agent.bestName}"></td>
                    <td><a th:href="@{'/user/view/'+${agent.owner.id}}" th:text="${agent.owner.bestName}"></a></td>
                    <td><a th:href="${agent.baseUrl}" th:text="${agent.baseUrl}"></a></td>
                    <td>
                        <a class="ui-button" th:href="@{'/agent/edit/'+${agent.id}}">Edit</a>
                        <a class="ui-button" th:href="@{'/agent/delete/'+${agent.id}}">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="ui-footer" th:insert="~{/layout/footer}"></div>
</body>
</html>