<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/layout/head}"></head>
<body>
<div class="ui-menubar" th:insert="~{/layout/menubar}"></div>
<h2 class="error-text">Well, that didn't work :/</h2>
<div class="ui-container-page ui-content" th:if="${error != null}">
    <h3>Error <span th:text="${error.code()}"></span></h3>
    <h4 th:if="${error.message() != null && !error.message().isBlank()}" th:text="${error.message()}"></h4>
    <label th:if="${error.stacktrace() != null && !error.stacktrace().isBlank()}">
        <textarea readonly th:text="${error.stacktrace()}"></textarea>
    </label>
</div>
<div class="ui-footer" th:insert="~{/layout/footer}"></div>
</body>
</html>