/* Set up color variables */
:root {
    --primary-color: #007bff;
    --secondary-color: #f5f5f5;
    --text-color: #333;
    --background-color: #f5f5f5;
    --table-border-color: #ddd;
    --table-header-background-color: #f5f5f5;
    --button-background-color: var(--primary-color);
    --button-color: #fff;
    --button-hover-background-color: #0069d9;
    --output-background-color: black;
    --output-color: white;
    --stderr-color: yellow;
    --status-icon-size: 30px;
    --status-icon-border: 5px;
}

/* Set up dark mode colors */
@media (prefers-color-scheme: dark) {
    :root {
        --primary-color: #0d6efd;
        --secondary-color: #1c1c1c;
        --text-color: #fff;
        --background-color: #1c1c1c;
        --table-border-color: #444;
        --table-header-background-color: #444;
        --button-background-color: #0d6efd;
        --button-color: #fff;
        --button-hover-background-color: #005fcc;
        --output-background-color: #222;
        --output-color: #fff;
    }
}

/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: 'Fira Sans', sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
    line-height: 1.5;
    font-size: 1rem;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fira Mono', monospace;
    margin-bottom: 1rem;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1rem;
}

th, td {
    padding: 0.5rem;
    text-align: left;
}

th {
    background-color: var(--table-header-background-color);
    font-weight: bold;
}

tr.serverEntry:hover {
    background-color: var(--secondary-color);
}

button {
    background-color: var(--button-background-color);
    color: var(--button-color);
    border: none;
    padding: 0.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
    margin-right: 0.5rem;
}

button:hover {
    background-color: var(--button-hover-background-color);
}

/* Specific styles for the dashboard */
.ui-menubar {
    margin: 10px;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: #fff;
    padding: 0.5rem;
    height: max-content;
    font-size: 1.5rem;
}

.ui-logout {
    float: right;
    right: 1.5rem;
    height: max-content;
    background: var(--table-header-background-color);
    border-radius: 10px;
    padding: 0.1rem 0.5rem;
    font-size: small;
}

.ui-container-page {
    position: absolute;
    width: 95%;
    height: 100%;
}

.ui-sidebar {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 20%;
    height: 100%;
    border-right: 2px solid black;
    background-color: var(--secondary-color);
    padding: 1rem;
}

.ui-content {
    position: absolute;
    padding: 1rem;
    right: 0;
    clear: top;
    width: 87%;
}

#output {
    width: 90%;
    height: 600px;
    background: black;
    color: white;
    font-family: 'Fira Mono', monospaced, sans-serif;
    font-size: 13px;
    padding: 10px;
    overflow-y: scroll;
}

.stderr {
    color: var(--stderr-color);
}

.serverStatusUnknown {
    border: var(--status-icon-border) solid #f3f3f3; /* gray border */
    border-top: var(--status-icon-border) solid #3498db; /* blue border */
    border-radius: 50%;
    width: var(--status-icon-size);
    height: var(--status-icon-size);
    animation: spin 2s linear infinite; /* animation properties */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    /* start position */
    100% {
        transform: rotate(360deg);
    }
    /* end position */
}

.serverStatusOnline {
    display: inline-block;
    width: var(--status-icon-size);
    height: var(--status-icon-size);
    border-radius: 50%;
    border: 2px solid green;
    position: relative;
}

.serverStatusOnline::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%) rotate(45deg);
    width: calc(var(--status-icon-size) * 0.2);
    height: calc(var(--status-icon-size) * 0.45);
    border-bottom: 2px solid green;
    border-right: 2px solid green;
}

.serverStatusOffline {
    display: inline-block;
    width: var(--status-icon-size);
    height: var(--status-icon-size);
    border-radius: 50%;
    border: 2px solid red;
    position: relative;
}

.serverStatusOffline::before,
.serverStatusOffline::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: calc(var(--status-icon-size) * 0.6);
    height: 2px;
    background-color: red;
}

.serverStatusOffline::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.serverStatusOffline::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

/* Media queries for mobile devices */
@media only screen and (max-width: 768px) {
    th, td {
        padding: 0.25rem;
    }

    .ui-sidebar {
        display: none;
    }

    .ui-content {
        margin-left: 0;
    }

    #output {
        width: 100%;
        height: 300px;
    }
}
