<!DOCTYPE html>
<!--suppress HtmlFormInputWithoutLabel -->
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/layout/head}"></head>
<body>
<div class="ui-menubar" th:insert="~{/layout/menubar}"></div>
<div class="ui-container-page">
    <div class="ui-content">
        <h1>You are about to delete <b th:text="${target.toString()}"></b>!</h1>
        <h3>Do you really want to do this?</h3>
        <form method="post" th:action="'/'+${type}+'/delete/'+${target.id}">
            <input class="ui-button" type="submit" value="Yes">
            <button class="ui-button" onclick="window.history.back(); window.location.reload()">No</button>
        </form>
    </div>
</div>
<div class="ui-footer" th:insert="~{/layout/footer}"></div>
</body>
</html>