<!DOCTYPE html>
<!--suppress HtmlFormInputWithoutLabel -->
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/layout/head}"></head>
<body>
<div class="ui-menubar" th:insert="~{/layout/menubar}"></div>
<div class="ui-container-page">
    <div class="ui-content" th:with="edit = ${!action.equals('view')}">
        <form method="post" th:action="'/api/webapp/'+${type}+'/'+${action.equals('create')?'create':target.id}">
            <h2>
                <b th:text="${target==null?'New '+type:target.typeName}"></b>: <b
                    th:text="${target==null?prefill.getOrDefault('display_name', 'Creating new'):target.getBestName()}"></b>
            </h2>
            <h3 style="text-decoration: none">
                <a class="ui-button" th:href="@{'/'+${type}+'/edit/'+${id}}" th:if="${!edit && user.canModify(target)}">Edit</a>
                <th:block th:if="${!action.equals('create')}">
                    <a class="ui-button" th:href="@{'/server/modules/'+${target.id}}"
                       th:if="${type.equals('server') && target.hasPermission(user, T(org.comroid.mcsd.core.entity.AbstractEntity$Permission).ManageModules)}">Modules</a>
                    <th:block th:if="${user.canAdmin(target)}">
                        <a class="ui-button" th:href="@{'/'+${type}+'/permissions/'+${id}+'/'+${user.id}}">Permissions</a>
                        <a class="ui-button" th:href="@{'/'+${type}+'/delete/'+${id}}">Delete</a>
                    </th:block>
                </th:block>
            </h3>
            <th:block th:replace="~{fragment/properties.html :: propView(${struct}, ${prefill}, ${target}, !edit)}"/>
            <!--<th:block th:unless="${modules == null}">
                <h3>Modules</h3>
                <table>
                    <thead>
                    <tr th:with="canManageModules = ${target.hasPermission(user,T(org.comroid.mcsd.core.entity.AbstractEntity$Permission).ManageModules)}">
                        <th th:if="${canManageModules}">
                            <button class="ui-button" id="btn-module-add"
                                    onclick="$('#dialog-module-add').slideToggle(500, ()=>{})">Add
                            </button>
                            <div class="ui-blur" id="dialog-module-add">
                                <div class="ui-dialog">
                                    <form class="dialog-form" method="post" th:action="@{'/module/add/'+${target.id}}">
                                        <select id="module-selector" multiple name="dtype">
                                            <option th:each="option: ${target.getFreeModuleTypes()}"
                                                    th:text="${option.name}"
                                                    th:value="${option.name}"></option>
                                        </select>
                                        <input name="userId" th:value="${user.id}" type="hidden">
                                        <input id="btn-module-add-submit" type="submit" value="Apply">
                                    </form>
                                    <button class="icon-close"
                                            onclick="$('#dialog-module-add').slideToggle(500, ()=>{})">X
                                    </button>
                                </div>
                            </div>
                        </th>
                        <th th:unless="${canManageModules}"></th>
                        <th>Name</th>
                        <th>Description</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="module: ${modules}">
                        <tr class="ui-table-parent" onclick="toggleExpansion" th:id="'module_'+${module.id}">
                            <td class="module-state-switch-col"><input class="state-switch"
                                                                       th:checked="${module.enabled}"
                                                                       th:id="'state_'+${module.id}"
                                                                       type="checkbox"></td>
                            <td class="module-name-col" th:text="${module.dtype.name}"></td>
                            <td class="module-desc-col" th:text="${module.dtype.description}"></td>
                            <td class="module-ctrl-col">
                                < !-- <a class="ui-button" th:href="@{'/module/edit/'+${module.id}}">Edit</a> -- >
                                <a class="ui-button" th:href="@{'/module/delete/'+${module.id}}">Delete</a>
                            </td>
                        </tr>
                        <tr class="ui-table-child" th:id="'detail_'+${module.id}">
                            <td colspan="4">
                                <table>
                                    <thead>
                                    <tr>
                                        <th class="module-prop-name-col"></th>
                                        <th class="module-prop-value-col"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <th:block th:replace="~{fragment/propView.html :: propView(${module.dtype.proto}, ${module})}"/>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </th:block>-->
            <input name="action" th:value="${action}" type="hidden">
            <input name="auth_key" th:if="${editKey!=null}" th:value="${editKey}" type="hidden">
            <input th:unless="${action.equals('view')}" type="submit" value="Apply">
        </form>
    </div>
</div>
<div class="ui-footer" th:insert="~{/layout/footer}"></div>
</body>
</html>