<!DOCTYPE html>
<!--suppress HtmlFormInputWithoutLabel -->
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/layout/head}"></head>
<body>
<div class="ui-menubar" th:insert="~{/layout/menubar}"></div>
<div class="ui-container-page">
    <div class="ui-content">
        <h2>Permissions for User <b th:text="${subject.bestName}"></b> for <span th:text="${type}"></span> <b
                th:text="${target.bestName}"></b></h2>
        <h4 class="error-text" th:if="${target.owner.id == user.id}">User is owner of the service; changes will have no
            effect</h4>
        <form method="post" th:action="@{'/'+${type}+'/permissions/'+${target.id}+'/'+${subject.id}}">
            <table>
                <thead>
                <tr>
                    <td>Enabled</td>
                    <td>Permission</td>
                    <td>Value</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="permission: ${permissions}">
                    <td><input th:checked="${permission.isFlagSet(mask)}"
                               th:name="'perm_'+${permission.asInt}"
                               type="checkbox"></td>
                    <td th:text="${permission.name}"></td>
                    <td th:text="${T(java.lang.String).format('0x%08X', permission.asInt)}"></td>
                </tr>
                </tbody>
            </table>
            <input type="submit" value="submit">
        </form>
    </div>
</div>
<div class="ui-footer" th:insert="~{/layout/footer}"></div>
</body>
</html>