<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/layout/head}"></head>
<script type="text/javascript" th:src="@{/static/console.js}"></script>
<script type="text/javascript" th:src="@{/webjars/sockjs-client/1.5.1/sockjs.js}"></script>
<script type="text/javascript" th:src="@{/webjars/stomp-websocket/2.3.4/stomp.js}"></script>
<body onload="load()" onbeforeunload="unload()">
<div class="ui-menubar" th:insert="~{/layout/menubar}"></div>
<div class="ui-container-page ui-content">
    <div class="ui-content">
        <!--
        <button id="ui-server-start" onclick="window.location.reload()">Start Server</button>
        <button id="ui-server-stop" onclick="stopServer('${server.id}')">Stop Server</button>
        <button id="ui-server-restart" onclick="restartServer()">Restart Server</button>
        <button id="ui-server-backup" onclick="runBackup('${server.id}')">Run Backup Script</button>
        -->
        <div id="output"></div>
        <br/>
        <input type="text" id="input" style="width: 80%;" autofocus/>
        <button id="send" onclick="sendMessage()" style="width: 9.65%;">Send</button>
    </div>
</div>
<div class="ui-footer" th:insert="~{/layout/footer}"></div>
</body>
</html>