<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/layout/head}"></head>
<script th:src="@{/static/common.js}" type="text/javascript"></script>
<script th:src="@{/static/modules.js}" type="text/javascript"></script>
<body>
<div class="ui-menubar" th:insert="~{/layout/menubar}"></div>
<div class="ui-container-page"
     th:with="canManageModules = ${server.hasPermission(user,T(org.comroid.mcsd.core.entity.AbstractEntity$Permission).ManageModules)}">
    <div class="ui-content">
        <h2>Modules for <span th:text="${server.bestName}"></span></h2>
        <button class="ui-button state-switch"></button>
        <table>
            <thead>
            <tr>
                <th th:if="${canManageModules}">
                    <button class="ui-button" id="btn-module-add"
                            onclick="$('#dialog-module-add').slideToggle(500, ()=>{})">Add
                    </button>
                    <div class="ui-blur" id="dialog-module-add">
                        <div class="ui-dialog">
                            <form class="dialog-form" method="post" th:action="@{'/module/add/'+${server.id}}">
                                <select id="module-selector" multiple name="dtype">
                                    <option th:each="option: ${server.getFreeModuleTypes()}"
                                            th:text="${option.name}"
                                            th:value="${option.name}"></option>
                                </select>
                                <input name="userId" th:value="${user.id}" type="hidden">
                                <input id="btn-module-add-submit" type="submit" value="Apply">
                            </form>
                            <button class="icon-close"
                                    onclick="$('#dialog-module-add').slideToggle(500, ()=>{})">Close
                            </button>
                        </div>
                    </div>
                </th>
                <th th:unless="${canManageModules}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="entry: ${modules}"><td>
                    <h2>Module <span th:text="${entry.key.name}"></span></h2>
                    <h3 th:text="${entry.key.description}"></h3>
                    <th:block th:replace="~{fragment/properties.html :: propView(${entry.key.proto}, null, ${entry.value}, true)}"/>
            </td></tr>
            </tbody>
        </table>
    </div>
</div>
<div class="ui-footer" th:insert="~{/layout/footer}"></div>
</body>
</html>