<div th:fragment="propView(struct, prefill, obj, includeReadonly)">
    <!--/*@thymesVar id="struct" type="org.comroid.api.data.bind.DataStructure"*/-->
    <!--/*@thymesVar id="prefill" type="java.util.Map<java.lang.String, java.lang.String>"*/-->
    <!--/*@thymesVar id="obj" type="java.lang.Object"*/-->
    <!--/*@thymesVar id="includeReadonly" type="java.lang.Boolean"*/-->
    <th:block th:each="entry: ${struct.categorizedOrderedProperties}" th:object="${entry}"
              th:with="category = ${entry.getKey()}">
        <h4 th:text="${category.name}"></h4>
        <h5 th:text="${category.description}"></h5>
        <table>
            <tbody>
            <tr th:each="prop: ${entry.getValue()}" th:if="${!prop.name.equals('token') && (includeReadonly || prop.canSet())}"
                th:object="${prop}">
                <td th:text="${prop.alternateName}"></td>
                <td>
                    <th:block th:replace="~{fragment/properties.html :: propViewInput(${prop}, ${prefill}, ${target})}"/>
                </td>
            </tr>
            </tbody>
        </table>
    </th:block>
</div>
<th:block th:fragment="propViewInput(prop, prefill, obj)"
          th:with="currentValue = ${obj==null?(prefill==null?'':(prefill.getOrDefault(prop.name,null))):prop.getFrom(obj)},
                     isReadonly = ${prop.name.equals('id') || !prop.canSet()}">
    <!--/*@thymesVar id="prop" type="org.comroid.api.data.bind.DataStructure.Property"*/-->
    <!--/*@thymesVar id="prefill" type="java.util.Map<java.lang.String, java.lang.String>"*/-->
    <!--/*@thymesVar id="obj" type="java.lang.Object"*/-->
    <input th:if="${prop.heldType.htmlTagName.equals('input')}"
            th:checked="${currentValue}"
            th:name="${prop.name}"
            th:placeholder="${prop.defaultValue}"
            th:readonly="${isReadonly}"
            th:type="${prop.name.contains('email') ? 'email' : prop.type.htmlInputType}"
            th:value="${currentValue}" />
    <select th:if="${prop.heldType.htmlTagName.equals('select')}"
            th:name="${prop.name}"
            th:readonly="${isReadonly}">
        <option th:each="it: ${prop.heldType.htmlSelectOptions}"
                th:selected="${it.key.equals(currentValue)}"
                th:value="${it.key}" th:text="${it.value}"></option>
    </select>
    <!--           data-th-attr="${String.join(', ', prop.type.htmlInputAttributes)}"-->
</th:block>
